<!DOCTYPE html>
<html>
  <body>
    <div class="container">
      <h2>You've received an anonymous message</h2>
      <p>Someone from your group has sent you an anonymous message:</p>
      <div class="message-box">
        <p><%= @message_content %></p>
      </div>
      <p class="footer">This is an automated message, please do not reply.</p>
    </div>
  </body>
</html>
