<h1>Hello <%= @user.name %>,</h1>
<p>You have been invited to join the group: <strong><%= @group.group_name %></strong></p>
<p>Click the link below to confirm your participation and complete your registration:</p>
<p><a href="<%= @invitation_link %>">Confirm Celebration</a></p>
<p>Thank you!</p>
